[submodule "ABC-Strategie-GitHub/abc_server-ux"]
	path = ABC-Strategie-GitHub/abc_server-ux
	url = git@github.com:ABC-Strategie-GitHub/abc_server-ux.git
	branch = main

[submodule "ABC-Strategie-GitHub/abc_contabilita_italiana"]
	path = ABC-Strategie-GitHub/abc_contabilita_italiana
	url = git@github.com:ABC-Strategie-GitHub/abc_contabilita_italiana.git
	branch = main

[submodule "ABC-Strategie-GitHub/abc_afe"]
	path = ABC-Strategie-GitHub/abc_afe
	url = git@github.com:ABC-Strategie-GitHub/abc_afe.git
	branch = main

[submodule "ABC-Strategie-GitHub/abc_x_puleo"]
	path = ABC-Strategie-GitHub/abc_x_puleo
	url = git@github.com:ABC-Strategie-GitHub/abc_x_puleo.git
	branch = main

[submodule "ABC-Strategie-GitHub/abc_branch"]
	path = ABC-Strategie-GitHub/abc_branch
	url = git@github.com:ABC-Strategie-GitHub/abc_branch.git
	branch = main

[submodule "ABC-Strategie-GitHub/abc_bi_website_sale_multi_branch_app"]
	path = ABC-Strategie-GitHub/abc_bi_website_sale_multi_branch_app
	url = git@github.com:ABC-Strategie-GitHub/abc_bi_website_sale_multi_branch_app.git
	branch = main
